{% extends '_header.twig' %}

{% block header %}
{{ parent() }}
<div id="secondary">
    <div class="content clearfix">
        <a href="http://framework.zend.com">Zend Framework</a> |
        <a href="http://framework.zend.com/wiki/display/ZFDEV2/Home">ZF2 Development Wiki</a> |
        <a href="http://framework.zend.com/zf2/blog">Official ZF2 Deb Blog</a>
    </div>
</div>
<div id="tertiary">
    <div class="content clearfix">
        <div class="left">
            <h2>Getting Started With ZF2 Components</h2>
            <p>
                First, make sure you have the package management tool
                pyrus installed and working.  You can get that from
                <a href="http://pear2.php.net">the pyrus website</a>,
                but a better option would get the all inclusive one
                built by Ralph Schindler:
            </p>
        </div>
        <div class="right">
            <pre class="brush: bash; class-name: custom-sh">
                pyrus channel-discover zfcampus.org/packages
                pyrus install zf2/Zend_Http-devel
            </pre>
        </div>
        <pre class="brush: bash">
            php -r "file_put_contents('pyrus', file_get_contents('https://github.com/ralphschindler/zf2-developer-site/raw/master/bin/pyrus'));"
        </pre>
    </div>
</div>
{% endblock %}